<div class="profile-header">
<% include partials/header %>
</div>
	<div id="profile-wrapper">
	<form method="post" action="/edit-profile">
	  <p>Choose Your Avatar</p>
	  <ul class="profile-avatars">
	  		<% for(var i=1; i<8; i++){ %>
	  				<% if(i == user.avatar) { %>
						<li><img class="avatar-img selected" src="/img/avatars/<%=i%>.png" width="50" data-avatar="<%=i%>"/></li>
					<% } else { %>
						<li><img class="avatar-img" src="/img/avatars/<%=i%>.png" width="50" data-avatar="<%=i%>"/></li>
					<% } %>
	  		<% } %>
	  	</ul>
	  	<input type="hidden" name="avatar" class="avatar-input" value="<%= user.avatar %>"/>
	    <textarea id="ck-editor" name="bio" placeholder="Bio"><%= user.bio %></textarea>
	    <p class="p-input"><button type="submit">Update Profile</button></p>
	 </form>
   </div>
 </div>
 <% include partials/footer %>