
<div class="profile-header">
<% include partials/header %>
</div>
<div class="profile-wrapper">
  <div class="profile-img-background" style="background-image: url('/img/avatars/<%=user.avatar%>.png')">
</div>
    <div class="profile-info-container">
        <a href="/edit-profile">Edit Profile</a>
    <!--BIO HERE-->
    <p><%= user.bio %></p>
    <h2>Recent Work</h2>
    </div>
        <% for(var i=0; i< poems.length; i++) { %>
            <div class="poem-container">
            <h3 class="poem-title"><a href="/poem/<%=poems[i]._id%>"><%= poems[i].title %></a></h3>
            <p class="poem-content"><%- poems[i].content %></p>
            <p class="poem-date"><%= poems[i].created.toDateString() %></p>
        </div>    
    <% } %>
    <h4># of Poems: <%= poems.length %></h4>
</div>
<% include partials/footer %>