<% include partials/header %>
<div class="profile-wrapper">
  <div class="profile-img-background">
        <!--IMG HEREs-->
    <img src="../img/ode-profile-pic.jpg" class="img" alt="profile pic" height="75px" width="75px"/>
</div>
    <div class="profile-info-container">
    <!--BIO HERE-->
    </div>
        <% for(var i=0; i< poems.length; i++) { %>
            <div class="poem-container">
            <h3 class="poem-title"><a href="/poem/<%=poems[i]._id%>"><%= poems[i].title %></a></h3>
            <p class="poem-content"><%- poems[i].content %></p>
            <p class="poem-date"><%= poems[i].created.toDateString() %></p>
        </div>    
    <% } %>
    <h4># of Poems: <%= poems.length %></h4>
</div>
<% include partials/footer %>